<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>서애로 가자-행사</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="icon" href="/images/favicon.ico">
	</head>
	<!-- Banner -->
	<!--
	To use a video as your background, set data-video to the name of your video without
	its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
	formats to work correctly.
	-->
	<header>
		<% include ./header %>
	</header>
	<body id = "top">
	<!-- Main -->
		<div id="main">
			<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">


				<% for (var i = 0 ; i < festival.length; i++) { %>
					<% console.log(festival[i].id) %>
					<% console.log(festival[i].youtube)%>
				<div class ="box">
				<a href="https://youtu.be/<%= festival[i].youtube %>" class="image fit" >
				<img src="https://img.youtube.com/vi/<%= festival[i].youtube %>/hqdefault.jpg" alt="" /></a>
				<div class="inner">
				<h3> <%= festival[i].name %></h3>
				<p> <%= festival[i].info %> </p>
				<a href="/festivals/<%= festival[i].id %>" class="button fit" >Watch</a>
				</div>
				</div>
				<% } %>

		</div>
		</div>
		</div>

				<!-- Footer -->
				<!-- Footer -->
				<footer id="footer">
				<% include ./footer %>
				</footer>
				<% include ./scriptjs %>
		
	</body>
</html>
