<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
<head>
<title> 서애로 가자 -SNS </title>
<meta charset=“utf-8” />
<meta name=“viewport” content=“width=device-width, initial-scale=1” />
<link rel=“stylesheet” href=“/stylesheets/css/main.css” />
<link rel=“shortcut icon” href=“/images/favicon.ico” >
<link rel=“icon” href=“/images/favicon.ico” >
<link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css” integrity=“sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=“anonymous” >
<link rel=“stylesheet” href=“/stylesheets/css/main.css” />
<link rel=“shortcut icon” href=“/images/favicon.ico” >
<link rel=“icon” href=“/images/favicon.ico” >
</head>

<header>
<% include ./header %>
</header>
<body id=“top”>
<!-- Main -->
<div id=“main”>
<div class=“inner”>

<!-- Boxes -->
<div class=“thumbnails”>

	<% for (var i = 0; i < sns.length; i++) { %>
		<% console.log(sns[i].id) %>
		<% console.log(sns[i].SNSaddress) %>
<div class=“box”>
<a href=“<%=sns[i].SNSaddress %>” class=“image fit” >
<img src=“/vi/<%=sns[i].SNSaddress %>hqdefault.jpg” alt=“” /></a>
<div class=“inner”>
<h3> <%= sns[i].name %></h3>
<p> <%= sns[i].info %> </p>
<a href=“/snss/<%= sns[i].id %>” class=“button fit” > Watch </a>
</div>
</div>
<% } %>
</div>
</div>
</div>

<!-- Footer -->
<!-- Footer -->
<footer id=“footer”>
<% include ./footer %>
</footer>
<% include ./scriptjs %>

</body>
</html>
